# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df=pd.read_csv("weather_data.csv")
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,15.0,PF,1.584896e+09,73.0,-23.12,-134.97,298.80,1.66
1,ishigaki,9.0,JP,1.584896e+09,92.0,24.34,124.16,296.20,7.01
2,clyde river,1.0,CA,1.584896e+09,83.0,70.47,-68.59,250.15,1.50
3,port elizabeth,75.0,ZA,1.584896e+09,88.0,-33.92,25.57,296.15,5.70
4,ushuaia,98.0,AR,1.584896e+09,57.0,-54.80,-68.30,282.15,3.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [49]:
locations=df[["Lat","Lng"]]
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations,weights=df.Humidity,dissipating=False,max_intensity=50,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#Convert "max temp" from K to F:
df["Max Temp"]=df["Max Temp"]*1.8-459.67

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
hotel_df=df.loc[(df["Max Temp"]<80) & (df["Cloudiness"]==0) & (df["Wind Speed"]<5)
               & (df["Max Temp"]>60) &(df["Humidity"]<80)]
hotel_df=hotel_df.dropna(how='any')
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
67,hermanus,0.0,ZA,1.584896e+09,78.0,-34.42,19.23,69.998,0.89
75,geraldton,0.0,AU,1.584896e+09,44.0,-28.77,114.60,78.800,3.60
78,rahimatpur,0.0,IN,1.584896e+09,40.0,17.60,74.20,71.150,2.08
166,mount isa,0.0,AU,1.584896e+09,53.0,-20.73,139.50,75.200,4.85
191,waddan,0.0,LY,1.584896e+09,22.0,29.16,16.14,75.650,3.83
222,gokak,0.0,IN,1.584896e+09,50.0,16.17,74.83,74.750,4.29
226,coquimbo,0.0,CL,1.584896e+09,60.0,-29.95,-71.34,69.800,4.60
227,alexandria,0.0,EG,1.584896e+09,45.0,31.22,29.96,64.400,2.10
251,erzin,0.0,TR,1.584896e+09,54.0,36.96,36.20,60.800,2.10
330,moree,0.0,AU,1.584896e+09,45.0,-29.47,149.85,64.400,3.10
434,beni mazar,0.0,EG,1.584896e+09,21.0,28.50,30.80,65.750,0.08
521,taltal,0.0,CL,1.584896e+09,66.0,-25.40,-70.48,68.450,3.65

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Add "Hotel Name" column to the DataFrame:
hotel_df["Hotel Name"]=""

In [7]:
lat=hotel_df["Lat"]
lng=hotel_df["Lng"]

In [8]:
f"{lat}, {lng}"

'67    -34.42\n75    -28.77\n78     17.60\n166   -20.73\n191    29.16\n222    16.17\n226   -29.95\n227    31.22\n251    36.96\n330   -29.47\n434    28.50\n521   -25.40\nName: Lat, dtype: float64, 67      19.23\n75     114.60\n78      74.20\n166    139.50\n191     16.14\n222     74.83\n226    -71.34\n227     29.96\n251     36.20\n330    149.85\n434     30.80\n521    -70.48\nName: Lng, dtype: float64'

In [40]:
#Set base url and parameters:
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params={
    "radius":5000,
    "type":"hotel",
    "key":g_key}

In [19]:
g_key

'AIzaSyCl04sQEiAqOoU2w9hMV4R_rwFnbfea8lI'

In [43]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]=f"{lat},{lng}"   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    url=requests.get(base_url,params=params).json()
    try:
        hotel_df.loc[index,'Hotel Name']=url["results"][1]["name"]
    except (KeyError,IndexError):
        print("Missing field/result... skipping.")

In [44]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
67,hermanus,0.0,ZA,1.584896e+09,78.0,-34.42,19.23,69.998,0.89,Misty Waves Boutique Hotel
75,geraldton,0.0,AU,1.584896e+09,44.0,-28.77,114.60,78.800,3.60,Broadwater Mariner Resort
78,rahimatpur,0.0,IN,1.584896e+09,40.0,17.60,74.20,71.150,2.08,State Bank Of India
166,mount isa,0.0,AU,1.584896e+09,53.0,-20.73,139.50,75.200,4.85,ibis Styles Mt Isa Verona
191,waddan,0.0,LY,1.584896e+09,22.0,29.16,16.14,75.650,3.83,Alternative (Authorized agent for the company'...
222,gokak,0.0,IN,1.584896e+09,50.0,16.17,74.83,74.750,4.29,Corporation Bank
226,coquimbo,0.0,CL,1.584896e+09,60.0,-29.95,-71.34,69.800,4.60,Hotel San Juan
227,alexandria,0.0,EG,1.584896e+09,45.0,31.22,29.96,64.400,2.10,Mediterranean Azur Hotel
251,erzin,0.0,TR,1.584896e+09,54.0,36.96,36.20,60.800,2.10,Artemis Otel
330,moree,0.0,AU,1.584896e+09,45.0,-29.47,149.85,64.400,3.10,Molika Springs Motel
434,beni mazar,0.0,EG,1.584896e+09,21.0,28.50,30.80,65.750,0.08,ماكينة صراف الي البنك الاهلي المصري - فرع بنى ...
521,taltal,0.0,CL,1.584896e+09,66.0,-25.40,-70.48,68.450,3.65,Residencial Karime

In [66]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations=hotel_df[["Lat", "Lng"]]

In [69]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(locations,
                                 info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()])

# Create heat layer
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)


# Display Map

In [70]:
fig

Figure(layout=FigureLayout(height='420px'))